
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
	<link rel="stylesheet" type="text/css" href="https://use.typekit.net/zgu2qlb.css">

	<title>Josephine Lo</title>
</head>

<body>
	<div class="options">
		<%= link_to "EXPERIENCE", "/experience" %>
		<%= link_to "PROJECTS", "/projects" %>
		<%= link_to "HOME", "/home" %>
	</div>
    <div id="navbar">
        <figure>
            <div>
                <figcaption>JOSEPHINE LO</figcaption>
                <%= image_tag("portrait.jpg", :class => "portrait", :alt => "Photo of Josephine Lo", :width => "100%")%>
                <div class="mail-icon">
                    <span class="fa-stack" style="position: absolute; left: 15%; bottom: 6%; font-size: 18.5px">
                        <i class="far fa-circle fa-4x fa-stack-1x"></i>
                        <i class="fas fa-circle fa-4x fa-stack-1x"></i>
                        <a href="mailto:jlo2@scu.edu"><i class="far fa-envelope fa-2x fa-stack-2x" style="left: 30%;"></i></a>
                        <a href="mailto:jlo2@scu.edu"><i class="fas fa-envelope fa-2x fa-stack-2x" style="left: 30%;"></i></a>
                    </span>
                </div>
                <div class="github-icon">
                    <span class="fa-stack" style="position: absolute; right: 15%; bottom: 4%; font-size: 30px;">
                        <i class="far fa-circle fa-4x fa-stack-1x"></i>
                        <a href="https://github.com/josephine-lo" target="_blank"><i class="fab fa-github fa-2x fa-stack-2x" style="position: absolute; bottom: 3%; right: 100%;"></i></a>
                    </span>
                </div>
                <div class="linkedin-icon">
                    <span class="fa-stack" style="position: absolute; left: calc(25vw - 58%); bottom: 6%; font-size: 18.5px">
                        <i class="fas fa-circle fa-4x fa-stack-1x" style="position: absolute; left: 0%"></i>
                        <i class="far fa-circle fa-4x fa-stack-1x" style="position: absolute; left: 0%;"></i></a>
                        <a href="https://www.linkedin.com/in/lo-josephine/" target="_blank"><i class="fab fa-linkedin-in fa-2x fa-stack-2x" style="padding-left:45%;"></i></a>
                    </span>
                </div>
            </div>
        </figure>
    </div>
	<div class="main" style="width: 100%; padding-right: 30%; padding-top: 10%">
		<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fas fa-laptop-code"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Software Engineer Intern</h3>
                                <p class="description">
                                	<b>Explorastay</b> <i>(Sept 2020 - Present)</i>
                                    I am currently interning at a startup based in Austin, TX. I've been responsible for making the company's home page responsive using React and Node.js
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fas fa-tools"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Assistant Technician</h3>
                                <p class="description">
                                	<b>Friendship Agape Church</b> <i>(Sept 2013 - Present)</i>
                                    Assist church leaders in the soundbooth by adjusting output volume, navigating through PowerPoint slides, and troubleshooting issues when they're understaffed.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Coding Teaching Assistant</h3>
                                <p class="description">
                                    <b>Girl Scouts of North America</b> <i>(Oct 2020 - Present)</i>
                                    I currently teach Girl Scouts from three troops the basics of coding and teaching them how to think in coding logic! I also had the opportunity to share my experience as a woman in STEM.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fas fa-search"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Collectively Reading Researcher</h3>
                                <p class="description">
                                    <b>Tech4Good Lab</b> <i>(Mar 2020 - Jun 2020)</i>
                                    I looked into Michael Veale's take on biases in Artificial Intelligence profiling, presented on the ways we can counteract those biases, and led an insightful discussion about the findings with six graduate/undergraduate students.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
  
		<br><br><br>
		  
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</body>

