/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 *= require font-awesome
 */


@import url("https://use.typekit.net/zgu2qlb.css");


html, body {
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	background-color: #FFFFFF;
	margin-left: 10%;
	width: 100%;
	overflow-x: hidden;
}


#navbar {
  position: fixed;
	width: 25%;
	height: 36vw;
	z-index: 1;
	top: 5%;
	left: 4%;
	background: #f2f2f2;
	overflow-x: hidden;
	overflow-y: hidden;
  /*box-shadow: 10px 10px #a9a9a9;*/
  display: grid;
}

.portrait {
  position: relative;
  top: 0%;
  width: 100%;
}

figcaption {
  position: absolute;
  text-align: center;
  font-weight: bold;
  width: 85%;
  color: #d2b48c;
  left: 8%;
  top: calc(25vw + 30px);
  font-size: 40px;
  letter-spacing: 5px;
  /*text-shadow: 2px 2px 1px #909090;*/
}

.mail-icon {
  color: #909090;
}

.fa-envelope {
  color: #909090;
}

.fa-envelope:hover {
  color: white;
}

.mail-icon:hover i.fas:before {
  visibility: visible;
}

.mail-icon i.fas:before {
  visibility: hidden;
}

.linkedin-icon {
  color: #909090;
}

.fa-linkedin-in {
  color: #909090;
}

.fa-linkedin-in:hover {
  color: white;
}

.linkedin-icon:hover i.fab:before {
  color: white;
}

.linkedin-icon:hover i.fas:before {
  color: #0e76a8;
  visibility: visible;
}

.linkedin-icon i.fas:before {
  visibility: hidden;
}

.github-icon i.fab{
  color: #f2f2f2;
  height: 61px;
  max-width: 55px;
  background-color: #909090;
  border-radius: 50%;
  left: 13%;
}

.github-icon i.far {
  color: #909090;
  font-size: 74px;
  left: 1.5%;
  top: -6%;
}

.github-icon:hover i.fab:before {
  color: black;
}

.navbar .row {
  bottom: 0%;
}

.main {
	margin-left: 15%;
	font-size: 28px;
	padding: 0px 10px;
}

.options {
	margin-right: 15%;
	margin-top: 0%;
}

.options a:link {
  float: right;
  text-decoration: none;
  padding-right:3%;
  padding-top: 3%;
  font-size: 25px;
  color: #a9a9a9; 
  letter-spacing: 2px;
}
.options a:hover {
	color: #c3c3c3 }
a:visited {
	color: #a9a9a9 }

@media only screen and (max-width: 1200px){
	figcaption{
		visibility: hidden;
	}
}

@media screen and (min-width: 700px) {
  .main {
    margin-left: 20%;
    font-size: 28px;
    padding: 0px 10px;
  }
}
